.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  background-color: #1b191c;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50vw;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35%;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100%;
}

h1{
  font-size: 64px;
  color: #FFF;
}